@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-300 font-mono antialiased;
  font-size: 13px;
  line-height: 1.5;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0;
}

::selection {
  background: #333;
  color: #fff;
}
